---
import { ProjectsList } from "../../lib/Projects";
---

<section class="flex flex-col space-y-4 max-w-4xl mx-auto px-2">
  <div class="flex w-full items-center justify-center"></div>
  <p class="text-white">Projects.</p>
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
    {
      ProjectsList.map((item, index) => (
        <div class="relative flex  flex-col overflow-hidden bg-[radial-gradient(circle_at_top_left,rgba(100,100,100,0.1)_0%,transparent_60%)] rounded-xl border backdrop-blur-sm border-white/10 p-4 shadow-sm ">
          <div class="flex flex-col space-y-3">
            <div class="flex w-full items-center justify-between ">
              <div class="flex items-center space-x-[10px] ">
                <img
                  src={item.logo?.src}
                  alt="toast"
                  class="h-6 w-6 pointer-events-none select-none"
                />
                <span class="absolute left-12 w-[96px] inset-x-1 -bottom-[1px] h-px bg-gradient-to-r from-fuchsia-400/0 via-white/20 to-fuchsia-400/0" />
                <a
                  href={item.url}
                  target="_blank"
                  rel="noopener"
                  class="group flex  items-center gap-[6px] font-medium decoration-neutral-500 decoration-dotted underline-offset-[5px] "
                >
                  <span class="truncate text-white/50">{item.name}</span>{" "}
                  <svg
                    width="13"
                    height="13"
                    stroke="currentColor"
                    stroke-width="2"
                    class="lucide-icon lucide lucide-arrow-up-right text-white opacity-50 duration-200 group-hover:translate-x-[1.5px] group-hover:opacity-100"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <>
                      <path d="M7 7h10v10" />
                      <path d="M7 17 17 7" />
                    </>
                  </svg>
                </a>
                <a
                  href={item.repoUrl}
                  class="absolute right-2 top-2 grid transform-gpu select-none place-content-center text-nowrap rounded-lg px-4 py-2 font-medium text-xs tracking-tighter transition-all duration-100
                    bg-gradient-to-b from-neutral-200 to-neutral-200/50 text-neutral-800 dark:from-neutral-950 dark:to-neutral-950/65 dark:text-neutral-300
          
                    dark:shadow-[0_1.5px_0.5px_2.5px_rgba(0,0,0,0.4),_0_0_0.5px_1px_rgba(0,0,0,1),_inset_0_-20px_1px_1px_rgba(0,0,0,0.25),_inset_0_1px_1px_1px_rgba(255,255,255,0.2)]
                    dark:hover:shadow-[0_0_0_0_rgba(0,0,0,0),_0_0_0.5px_1px_rgba(0,0,0,1),_inset_0_2px_1px_1px_rgba(0,0,0,0.25),_inset_0_1px_1px_0_rgba(255,255,255,0.15)]
                    hover:shadow-[0_0_0_0_rgba(0,0,0,0),_0_0_0.5px_1px_rgba(0,0,0,0.25),_inset_0_1px_0.5px_0.5px_rgba(255,255,255,0.4),_inset_0_1px_1px_1px_rgba(255,255,255,0.8)]
                    active:shadow-[0_0_0_0_rgba(0,0,0,0),_0_0_1px_1px_rgba(0,0,0,0.15),_inset_0_1px_0.5px_0.5px_rgba(0,0,0,0.3),_inset_0_1.5px_1.5px_1.5px_rgba(255,255,255,0.6)]
                    dark:active:shadow-[0_0_0_0_rgba(0,0,0,0),_0_0_1px_1px_rgba(0,0,0,1),_inset_0_2px_2px_1px_rgba(0,0,0,1),_inset_0_2px_2px_0_rgba(255,255,255,0.1)]"
                >
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <>
                      <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4" />
                      <path d="M9 18c-4.51 2-5-2-7-2" />
                    </>
                  </svg>
                </a>
              </div>{" "}
            </div>{" "}
            <p class="truncate text-sm dark:text-neutral-400">
              {item.description}
            </p>{" "}
            <div class="hidden cardScrool items-center space-x-2 overflow-x-auto md:flex">
              <div class="flex items-center justify-center ">
                {item.stack.map((tech) => (
                  <span class="flex gap-2 cursor-default  text-nowrap mb-2 ml-2 items-center rounded-md border border-neutral-300 bg-neutral-200/50 px-2 py-1 font-mono text-xs font-medium text-neutral-700 dark:border-neutral-800 dark:bg-neutral-800/60 dark:text-neutral-300">
                    {tech}
                  </span>
                ))}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
